env: local

database:
  iam:
    read:
      dsn: "postgres://oauth2:oauth2pass@localhost:5432/oauth2db?sslmode=disable"
    write:
      dsn: "postgres://oauth2:oauth2pass@localhost:5432/oauth2db?sslmode=disable"

valkey:
  addr: "127.0.0.1:6379"
  prefix: "iam:"

migrate:
  on_start: true
  driver: "postgres"
  dsn: "postgres://oauth2:oauth2pass@localhost:5432/oauth2db?sslmode=disable"
  cmd: "up"
  target: 0
